.mami_button {
	background-color: rgb(204, 0, 0);
	color: white;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	font-size: medium;
	font-family:Verdana;
	cursor: pointer;
	margin-left: 8px;
	margin-right: 8px;
	transition: opacity 0.25s;
	vertical-align: top;
}
.mami_button:hover{
	opacity: 0.6;	
} 
.mami_button:active {
	background-color: rgb(100, 10, 0);
} 

.join_button {
	background-color: white;
	color: rgb(0, 112, 230);
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-width: 1px;
	border-color: rgb(50, 130, 255);
	border-radius: 4px;
	font-size: medium;
	font-weight: 500;
	font-family:Verdana;
	cursor: pointer;
	margin-left: 8px;
	margin-right: 8px;
	transition: background-color 0.5s;
	transition: color 0.5s;
	vertical-align: top;
}
.join_button:hover {
	background-color: rgb(50, 130, 255);
	color: white;
}
.join_button:active {
	background-color: white;
	color: rgb(0, 50, 130)
}

.jado_button {
	background-color: rgb(50, 130, 255);
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	border-radius:30px;
	font-size: medium;
	font-weight: 800;
	font-family:Verdana;
	cursor: pointer;
	margin-left: 8px;
	margin-right: 8px;
	transition: box-shadow 0.25s;
	vertical-align: top;
}

.jado_button:hover {
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.jado_button:active {
	background-color: white;
	color: rgb(0, 112, 230);
}

.stretch_button {
	background-color: darkgreen;
	border: none;
	color: white;
	font-size: large;
	border-radius: 7px;
	padding-top: 5px ;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: top;	
	cursor: pointer;	
	transition: padding-bottom 0.25s,
		padding-right 0.25s;
}
.stretch_button:hover {
	padding-bottom: 15px;
	padding-right: 20px;
}

.click_button {
	background-color: darkgreen;
	border: none;
	color: white;
	font-size: large;
	border-radius: 7px;
	padding-top: 5px ;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: top;	
	cursor: pointer;	
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
	vertical-align: top;
}

.click_button:hover {
	opacity: 0.9;
}

.click_button:active {
	transform: translate(3px, 3px);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
