p {
	font-family: 'Rubik Mono One', sans-serif;
	width: 300px;
	font-size: 16px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

a {
	color: white;
}

.pr-title {
	font-size: 19px;
	font-weight: bold;
	line-height: 24px;
	transition: letter-spacing 0.15s;
	margin-bottom: 5px;
}
.pr-title:hover {
	letter-spacing: 1px;
}

.stats {
	font-size: 10px;
	text-align: justify;
	color: rgb(97, 98, 98);
	margin-bottom: 15px;
}

.pr-body-a {
	line-height: 20px;
	margin-bottom: 20px;
}

.pr-body-b {
	width: initial;
	background-color: rgb(227, 64, 64);
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	font-weight:600;
	line-height: 20px;
	transition: background-color 0.5s,
}
.pr-body-b:hover {
	background-color: rgb(64, 65, 227);
}

.pr-body-b-add {
	transition: color 0.5s;
}
.pr-body-b-add:hover {
	text-decoration: underline;
	color: rgb(0 200 250);
	cursor: pointer;
}
