p {
	margin-top: 0;
	margin-bottom: 0;
}
body {
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
	background-color: white;
	padding-top: 60px;
	padding-left:calc(var(--sidebar-width) + 20px);
	padding-right: 10px;
} 
