.header {
	background-color: white;
	height: 55px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(195,195,195);
	z-index: 2;
} 
	.left-section {
		display: flex;
		align-items: center;
	}
		.hamburger-menu {
			height: 30px;
			margin-left: 40px;
			margin-right: 40px;
		} 
		.hamburger-menu:hover {
			cursor: pointer;
		}
		.youtube-logo {
			height: 20px;
		}
	.mid-section {
		flex: 1;
		margin-left: 70px;
		margin-right: 35px;
		max-width: 500px;
		display: flex;
		align-items: center;
	}
		.searchbar {
			border-radius: 25px;
			border-width: 1px;
			border-style: solid;
			border-color: rgb(145,145,145);
			box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.15);
			font-size: 15px;
			padding-left: 20px;
			flex: 1;
			height: 36px;
			width: 25px;
		} 
		.searchbar::placeholder {
			font-family: 'Josefin Sans', sans-serif;
			font-size: 12px;
			font-weight: bold;
			color: rgb(100,100,100);
		}
		.search-button {
			height: 40px;
			width: 45px;
			margin-left: -35px;
			margin-right: 10px;
			background-color: white;
			border-style: solid;
			border-color: rgb(145,145,145);
			border-radius: 20px;
			border-width: 1px;
		}
			.search-icon {
				height: 24px;
			}
		.voice-s-button {
			height: 40px;
			width: 40px;
			border-radius: 100px;
			background-color: white;
			border-style: none;
			border-radius: 15px;
		}
			.voice-s-icon {
				height: 24px;
			}
	.right-section {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 240px;
		flex-shrink: 0;
	}
		.upload-icon {
			height: 24px;
		}
		.youtube-apps-icon {
			height: 24px;
		}
		.notifications-div {
			background-color: rgba(255, 255, 255, 0);
			position: relative;
		}
			.notifications-icon {
				height: 24px;
			}
			.notification-num {
				position: absolute;
				top: -1px;
				right: -8px;
				height: 15px;
				font-size: 12px;
				background-color: rgb(200, 50, 30);
				color: white;
				border-radius: 50px;
				padding-left: 5px;
				padding-right: 5px;
				border-style: solid;
				border-color: rgba(0, 0, 0, 0.3);
				border-width: 1px;
			}	
		.user-profile-icon {
			width: 35px;
			margin-right: 20px;
			border-radius: 50px;
		}
