:root {
	--side-icon-width: 30px;
	--sidebar-width: 90px;
}

.sidebar {
	position: fixed;
	left: 0;
	bottom: 0;
	top: 55px;
	background-color: white;
	width: var(--sidebar-width);
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 50px;
	padding-left: 10px;
	z-index: 1;
}
	.side-div {
		width: var(--sidebar-width);
		height: 76px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 1px;
		cursor: pointer;
	}
	.side-div:hover {
		background-color: rgb(220, 220, 220);
	} 
		.side-div img {
			width: var(--side-icon-width);
		}
		.side-text {
			text-align: center;
			font-size: 11px;
		} 
