.searchbar {
	border-radius: 20px;
	border-style: none;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	padding-left: 20px;
	padding-top: 7px;
	padding-bottom: 7px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: rgb(100,100,100);
	margin-bottom: 10px;
	display: block;
	width: 500px;
} 

p {
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 0;
	margin-bottom: 0;
}

.video-prev {
	width: 300px;	
	display: inline-block;
	vertical-align: top;
}
	.thumbnail-row {
		margin-bottom: 10px;	
		width: 300px;
	}
		.thumbnail {
			border-radius: 10px;
			width: 100%;
		}
	.vid-info-grid {
		display: grid;
		grid-template-columns: 50px 1fr;
	}
		.profile-pic {
			width: 40px;
			border-radius: 50px;
		}
		.video-title {
			font-weight: 600;
			line-height: 20px;
			margin-bottom: 15px;
		}
		.video-author, 
		.video-stats {
			font-weight: 300;
			font-size: 15px;
			color: rgb(50, 50, 50);
		}
		.video-author {
			margin-bottom: 4px;
		}
