p {
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 0;
	margin-bottom: 0;
}
.video-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 16px;
	row-gap: 40px;
}
	.thumbnail-row {
		margin-bottom: 10px;	
	}
		.thumbnail {
			border-radius: 10px;
			width: 100%;
		}

	.vid-info-grid {
		display: grid;
		grid-template-columns: 50px 1fr;
	}
		.profile-pic {
			width: 40px;
			border-radius: 50px;
		}
		.video-title {
			font-weight: 600;
			line-height: 20px;
			margin-bottom: 15px;
		}
		.video-author, 
		.video-stats {
			font-weight: 300;
			font-size: 15px;
			color: rgb(50, 50, 50);
		}
		.video-author {
			margin-bottom: 4px;
		}
