.video-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 16px;
	row-gap: 40px;
}
	.thumbnail-row {
		margin-bottom: 10px;	
		position: relative;
	}
		.thumbnail {
			border-radius: 10px;
			width: 100%;
		}
		.video-time {
			background-color: black;
			color: white;
			opacity: 0.7;
			position: absolute;
			bottom: 10px;
			right: 10px;
			border-radius: 5px;
			font-size: 14px;
			font-family: 'Josefin Sans', sans-serif;
			padding-top: 3px;
			padding-bottom: 3px;
			padding-left: 3px;
			padding-right: 3px;
		}

	.vid-info-grid {
		display: grid;
		grid-template-columns: 50px 1fr;
	}
		.profile-pic {
			width: 40px;
			border-radius: 50px;
		}
		.video-title {
			font-weight: 600;
			line-height: 20px;
			margin-bottom: 10px;
		}
		.video-author, 
		.video-stats {
			font-weight: 300;
			font-size: 15px;
			color: rgb(50, 50, 50);
		}
		.video-author {
			margin-bottom: 4px;
		}
